.jumbotron{
    width:100%;
}

body{
    padding-top: 100px;
    background-image: url("fonds-ecran-noel-pere-noel-2015-19.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
}

h5,p{
    color: #990000;
}

.media{
    background-color: #32FF24;
}

legend{
    width: auto;
    padding-left: 2px;
    padding-right: 2px;
}