<%- include partiels/HeaderCon.ejs %>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-10">
            <h1>Actualiter</h1>
            <% ListeActualiter.forEach(function(actualiter){ %>
            <div class="media border p-3 mb-2">
                <div class="media-body">
                    <h5 class="mt-0"><%= actualiter.TITRE %></h5>
                    <p><%= actualiter.MESSAGE %></p>
                </div>
            </div>
            <% }); %>
            <div class="media border p-3 mb-2">
                <div class="media-body">
                    <h5 class="mt-0">Échange de Cadeau</h5>
                    <p>Bienvenue dans le site d'échange de cadeau en ligne.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include partiels/Footer.ejs %>