<%- include partiels/HeaderCon.ejs %>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Actualiter</h1>
            <% ListeActualiter.forEach(function(actualiter){ %>
            <div class="media border p-3 mb-2">
                <div class="media-body">
                    <h5 class="mt-0"><%= actualiter.TITRE %></h5>
                    <p><%= actualiter.MESSAGE %></p>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</div>
<%- include partiels/Footer.ejs %>