<%- include partiels/Header.ejs %>
<form method="POST">
    <label>Nom de l'échange</label>
    <input type="text">

    <label>Date de l'echange</label>
    <input type="date">

    <label>Montant (approximatif)</label>
    <input type="number">

    <label>Theme(optionnel)</label>
    <input type="text">

    <label>Suggestion</label>
    <input type="radio">
    <input type="button" value="Ajouter des membres">
    <input type="submit" value="Creer Échange">
</form>
<%- include partiels/Scripts.ejs %>
</body>
</html>