<%- include partiels/HeaderCon.ejs %>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-8">
            <form method="POST">
                <fieldset class="border p-3">
                    <legend>Création d'échange</legend>
                    <div class="form-group">
                        <label>Nom de l'échange</label>
                        <input type="text" class="form-control" name="txtTitreEchange" id="txtTitreEchange">
                    </div>
                    <div class="form-group">
                        <label>Date de l'echange</label>
                        <input type="date" class="form-control" name="dteEchange" id="dteEchange">
                    </div>
                    <div class="form-group">
                        <label>Montant (approximatif)</label>
                        <input type="number" class="form-control" name="nbrMontant" id="nbrMontant">
                    </div>
                    <div class="form-group">
                        <label>Theme(optionnel)</label>
                        <input type="text" class="form-control" name="txtTheme" id="txtTheme">
                    </div>
                    <div class="form-group">
                        <label>Suggestion</label>
                        <input type="radio">
                    </div>
                    <button type="submit" class="btn btn-primary">Creer Échange</button>
                </fieldset>
            </form>
        </div>
    </div>

</div>
<%- include partiels/Scripts.ejs %>
<%- include popups/AjouterMembres.ejs %>
<%- include partiels/Footer.ejs %>