<%- include partiels/Header.ejs %>
<form method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="psdMotDePasse">Mot de passe</label>
    <input type="password" name="psdMotDePasse" id="psdMotDePasse">
    <input type="submit" value="Soumettre">
</form>

<%- include partiels/Footer.ejs %>