<%- include partiels/Header.ejs %>
        <a href="Connexion">Connexion</a>
        <a href="Inscription">Inscription</a>
        <form method="POST">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="psdMotDePasse">Mot de passe</label>
            <input type="password" name="psdMotDePasse" id="psdMotDePasse">
            <input type="submit" value="Soumettre">
        </form>
    </body>
</html>