<%- include partiels/Header.ejs %>

<form method="Post" id="formulaire">
    <label for="txtPrenom">Prenom</label>
    <input type="text" name="txtPrenom" id="txtPrenom" required>

    <label for="txtNom">Nom</label>
    <input type="text" name="txtNom" id="txtNom" required>

    <label for="txtNomUtilisateur">Nom d'utilisateur</label>
    <input type="text" name="txtNomUtilisateur" id="txtNomUtilisateur" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="psdMotDePasse">Mot de passe</label>
    <input type="password" name="psdMotDePasse" id="psdMotDePasse" required>

    <label for="psdConfirmMotDePasse">Confirmer mot de passe</label>
    <input type="password" name="psdConfirmMotDePasse" id="psdConfirmMotDePasse" required>

    <input type="submit" value="Soumettre">
</form>
</body>
<script>
    var password = document.getElementById("psdMotDePasse"),
        confirm_password = document.getElementById("psdConfirmMotDePasse");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Les mot de passe ne sont pas identique.");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</Script>



<%- include partiels/Footer.ejs %>