<%- include partiels/Header.ejs %>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xl-8">
            <form method="POST" id="formulaire">
                    <fieldset class="border p-3">
                    <legend>Inscription</legend>
                <div class="form-group">
                    <label for="txtPrenom">Prenom</label>
                    <input type="text" class="form-control" name="txtPrenom" id="txtPrenom" required>
                </div>
                <div class="form-group">
                    <label for="txtNom">Nom</label>
                    <input type="text" class="form-control" name="txtNom" id="txtNom" required>
                </div>
                <div class="form-group">
                    <label for="txtNomUtilisateur">Nom d'utilisateur</label>
                    <input type="text" class="form-control" name="txtNomUtilisateur" id="txtNomUtilisateur" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>
                <div class="form-group">
                    <label for="psdMotDePasse">Mot de passe</label>
                    <input type="password" class="form-control" name="psdMotDePasse" id="psdMotDePasse" required>
                </div>
                <div class="form-group">
                    <label for="psdConfirmMotDePasse">Confirmer mot de passe</label>
                    <input type="password" class="form-control" name="psdConfirmMotDePasse" id="psdConfirmMotDePasse"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Soumettre</button>
            </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    var password = document.getElementById("psdMotDePasse"),
        confirm_password = document.getElementById("psdConfirmMotDePasse");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Les mot de passe ne sont pas identique.");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</Script>



<%- include partiels/Footer.ejs %>