<%- include partiels/Header.ejs %>
        <a href="Connexion">Connexion</a>
        <a href="Inscription">Inscription</a>
        <form >
            <label id="test">Email</label>
        </form>
    </body>
</html>