<div class="modal" id="PopupSuggestion" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Mes suggestions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Montant approximatif : <%= ListeMembre[0].MONTANTECHANGE %>$</p>
          <form id="frmAjoutSuggestion" method="POST">
            <div class="form-group">
                <label for="cadeau">Cadeau</label>
                <input type="text" class="form-control" name="cadeau" id="cadeau">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" id="description">
            </div>
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>  
        </div>
        <div class="liste">
                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  