<table class="table table-hover">
    <thead>
        <tr>
            <th>Nom du Groupe</th>
            <th>Createur du groupe</th>
            <th>Date de l'echange</th>
        </tr>
    </thead>
    <tbody>
        <% ListeGroupe.forEach(function(groupe){ %>
        <tr class="table-row" data-href="/Groupe/<%= groupe.GROUPEID %>">
            <td><%= groupe.NOMGROUPE %></td>
            <td><%= groupe.CREATEUR %></td>
            <td><%= groupe.DATEECHANGE %></td>
        </tr>
        <% }); %>
    </tbody>
</table>