<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="/style.css" type="text/css">
</head>

<body>
        <a href="/Connexion">Connexion</a>
        <a href="/Inscription">Inscription</a>