<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="bootstrap.css" type="text/css">
</head>

<body>
        <a href="Actualiter">Actualiter</a>
        <a href="Echange" data-toggle="modal" data-target="#PopupEchange">Echange</a>
        <a href="Ami">Ami(e)</a>
        <a href="Profil">Profil</a>
        <a href="Deconnexion">Deconnexion</a>