<table class="table table-hover">
    <thead>
        <tr>
            <th>Cadeau</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-row">
            <td>1</td>
            <td>2</td>
        </tr>
    </tbody>
</table>