<table class="table table-hover">
    <thead>
        <tr>
            <th>Cadeau</th>
            <th>Description</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <% ListeMesSuggestions.forEach(function(suggestions){ %>
        <tr class="table-row">
            <td><%= suggestions.Suggestion %></td>
            <td><%= suggestions.DescriptionSug %></td>
            <td><button onclick="supprimerSuggestion(this);"  value="<%= suggestions.SuggestionID %>">Supprimer</button></td>
        </tr>
        <% }); %>
    </tbody>
</table>