<tbody>
    <% ListeMesSuggestions.forEach(function(suggestions){ %>
    <tr class="table-row">
        <td><%= suggestions.Suggestion %></td>
        <td><%= suggestions.DescriptionSug %></td>
        <td><button type="submit">Supprimer</button></td>
    </tr>
    <% }); %>
</tbody>